In [1]:
# Variable

In [4]:
# a variable can store only one costant, but if we want to store more than one constant values in a single variable then we use collections
a=10

In [3]:
# collections
# Collections are those variables who maintain more than one constant vales in a single variable

# Default collections supported by python 
## 1. Lists
## 2. Dictionaries
## 3. Tuples
## 4. Sets

Lists are so important for analysis than other methods of collections
Lists> Dictionaries

Tuples and sets are very rear to encounter

Observation : Numpy arrays are more powerful and less time taking to perform array operations intead of python arrays

# 1. Lists in python

In [6]:
# Creation of list--> use square brackets [] and each constant is seperated by comma (,)
# Homogeneous list --> List having same datatype constants
variable1 = [1,2,3,4,5,6,7,3,2,5,4,7]

In [7]:
print(variable1)

[1, 2, 3, 4, 5, 6, 7, 3, 2, 5, 4, 7]

In [8]:
type(variable1)

list

In [9]:
# list is having collection of objects

In [12]:
# Heterogeneous list --> having different datatypes in a single list
variable2 = [a,1,2,3,4.6,'aravind"]

SyntaxError: EOL while scanning string literal (<ipython-input-12-da0dfe8fd383>, line 2)

In [28]:
variable2 = [a,1,2,3,4.6,aravind]

NameError: name 'aravind' is not defined

In [29]:
variable2 = ['a',1,2,3,4.6,'aravind', True]

In [30]:
variable3 = ['a',1,2,3,4.6,"aravind's surname", True]

In [31]:
variable4 = ['a',1,2,3,4.6,'aravind', True]

In [33]:
# Access each element in the list
# Indexes of elements always starts with zero[[0],[1],[2].....]
variable3[5]

"aravind's surname"

In [34]:
type(variable3[5])

str

In [35]:
variable3[6]

True

In [37]:
type(variable3[6])

bool

In [38]:
variable3[2]

2

In [39]:
type(variable3[2])

int

In [41]:
# accessing the series of data from the list
# syntax is variable_name[starting index number : upperbound index number]
# upperbound index= end of index number targeted+1
#Goal is to exteact subset of list : 3,4.6,'aravind'
# here available is ['a',1,2,3,4.6,'aravind', True]
# index location is   0  1 2 3  4     5         6
#so,
variable3[3:6]

[3, 4.6, "aravind's surname"]

# the above concept of collection of subset frothe list is called SLICING

In [42]:
len(variable3)

7

In [43]:
variable5 = [1.3, True, "Aravind", [1,2,3,4,5], "India", ["Bangalore", "Hyderabad"],"Y"]

In [44]:
len(variable5)

7

In [45]:
variable5[5]

['Bangalore', 'Hyderabad']

In [51]:
variable5[5][1]

'Hyderabad'

In [52]:
type(variable5[5][1])

str

In [53]:
variable5[3][4]

5

In [55]:
variable5[3][1:4]

[2, 3, 4]

In [56]:
variable5

[1.3,
 True,
 'Aravind',
 [1, 2, 3, 4, 5],
 'India',
 ['Bangalore', 'Hyderabad'],
 'Y']

In [57]:
print(variable5)

[1.3, True, 'Aravind', [1, 2, 3, 4, 5], 'India', ['Bangalore', 'Hyderabad'], 'Y']

In [58]:
#modify element in the list
variable5[1] = False

In [60]:
print(variable5)

[1.3, False, 'Aravind', [1, 2, 3, 4, 5], 'India', ['Bangalore', 'Hyderabad'], 'Y']

#List is a mutable collection : can be changed

## w3schools.com/python is very good for learning
### for fundamentals

## w3resource.com/python
### for assignments with individual concepts

## DICTIONARIES

In [62]:
# helps you maintain your data in the form of key-value pair
# Eg. Lookup table and conversion table
# Conversion table in the domain area to have key and value pairs in the data...it is not conversion of data based on the formulas like celsius to foreigheit
# Postal team is the domain
# Banagalore-560001

### variable names are define in the format of camel case 
### Camel case is start with small letter and middle word start with capital letter then third word start with capital letter again

In [66]:
# To creat dictionar we will use curly brackets {}
# Camel case based variable name is state and capital data here
stateAndCapitals = {
    "AndhraPradesh" : "Kurnool",
    "Karnataka" : "Bangalore",
    "Tamilnadu" : "Chennai",
    "Kerala" : "Tiruchy"
}

In [67]:
stateAndCapitals

{'AndhraPradesh': 'Kurnool',
 'Karnataka': 'Bangalore',
 'Tamilnadu': 'Chennai',
 'Kerala': 'Tiruchy'}

In [68]:
type(stateAndCapitals)

dict

In [74]:
stateAndCapitals['Kerala']

'Tiruchy'

In [75]:
stateAndCapitals["AndhraPradesh"]

'Kurnool'

In [76]:
stateAndCapitals["Goa"]

KeyError: 'Goa'

In [77]:
#Observe the error thst thrown is key error...means key is not available

In [79]:
# Dictionary is mutable object, as it can be changed , added, deleted and modified

In [80]:
stateAndCapitals["Goa"]="Panaji or Panjim"

In [81]:
stateAndCapitals

{'AndhraPradesh': 'Kurnool',
 'Karnataka': 'Bangalore',
 'Tamilnadu': 'Chennai',
 'Kerala': 'Tiruchy',
 'Goa': 'Panaji or Panjim'}

In [82]:
# in operator in Dict
# syntax is "Key" in Dict
"Goa" in stateAndCapitals

True

In [83]:
"Delhi" in stateAndCapitals

False

In [84]:
# Delect in Dict
del stateAndCapitals["Goa"]

In [85]:
stateAndCapitals

{'AndhraPradesh': 'Kurnool',
 'Karnataka': 'Bangalore',
 'Tamilnadu': 'Chennai',
 'Kerala': 'Tiruchy'}

# Tuples

In [87]:
# tuples are immutable collections 
# tuple = ()

tuple1 = (1,4,6,7,9)
tuple1

(1, 4, 6, 7, 9)

In [89]:
type(tuple1)

tuple

In [91]:
tuple1[2]

6

In [92]:
tuple1[6]=19

TypeError: 'tuple' object does not support item assignment

In [93]:
# as tuple is immutable it can not change in the collections or objects

### whenever there is a situation where data should not be changed as it is historical data taken from database for the analysis, it should be recoded in tuple..so in databases tuple uses ae more but in analysis part tuples are not required at all.

#### if you are dealing with Historical data then tuples helps there.

# SET

In [94]:
# set is a list used to avoid duplicate values in the list

In [95]:
set1 = {1,2,3,4,2,3,5,6,4,6,7,8,3,7,8}
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [96]:
# Uses : SET HELPS IN MAINTAIN THE UNIQUE VALUES IN THE LIST
list1 = [1,2,3,4,2,3,5,6,4,6,7,8,3,7,8]

In [97]:
list1

[1, 2, 3, 4, 2, 3, 5, 6, 4, 6, 7, 8, 3, 7, 8]

In [99]:
list2 = list(set(list1))

In [100]:
list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [101]:
# sets helps you to filter the unique values or avoid duplicate values in the list