In [1]:
# Series is important function in analsing the single column in the dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Why numpy is required when we do pandas for anaysis
# ans; we dont want to use experimental numpy
# pandas are used because which are made on top of numpy
# Important : numpy is helpful in pandas because of numerical operations
# If we won't install numpy, still we can get the detils from experimental numpy package
# But we can not rely on that; reliability is the concern
# thatswhy always recommend standard numpy package along with Pandas for better numerical operations
# remember numpy participate in Pandas when and only in performance of statistics

In [4]:
# Series
# is nothing but a column in a DataFrame

In [5]:
# empList = [[1,"Aravind",400000],[2,"Sharada",300000],[3,"Aaradhya",200000],[4,"Abhishek",150000],[5,"Aounnathya", 120000],[6,"Robo", 120000]]

In [6]:
empData = pd.read_csv("employee.csv", # path file
                       header=None,    # Defines whether header is there or not
                       names = ['Eid','Ename','Esalary'], # Assign Name of the columns
                      sep = ",") # Informing the seperator value ; defalut sep is ,

In [7]:
empData

   Eid    Ename  Esalary
0    1  Aravind   500000
1    2  Sharada   400000
2    3  Rachael   300000
3    4     Dave   200000
4    5    Rhema   100000

In [8]:
empData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Eid      5 non-null      int64
 1   Ename    5 non-null      object
 2   Esalary  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [9]:
# like in SQL 
# table.column_name
empData.Esalary

0    500000
1    400000
2    300000
3    200000
4    100000
Name: Esalary, dtype: int64

In [10]:
type(empData) # its a dataframe

pandas.core.frame.DataFrame

In [11]:
type(empData.Esalary) # ITS ASERIES

pandas.core.series.Series

In [12]:
# Dataframe is a collection of series
# Dataframe can store heteogeneous series
# But series is always homogeneous

In [13]:
# why we focusing more on series
# why we are learning series

In [14]:
# Whenever we do statical operations, we perform on series ideally
# practically it differs

In [15]:
# first observe measures of central tendency
# mean ,median, mode

In [16]:
# MEAN
empData.Esalary.mean() # this is same as in numpy..thats y here numpy is required

300000.0

In [17]:
# 75th percentile
np.percentile(empData.Esalary,75)

400000.0

In [18]:
# 50th percentile
np.percentile(empData.Esalary,50)

300000.0

In [19]:
# we call , columns as attributes, 
# if any error in column names it throw an error as attribute error

In [20]:
# attribute error is column section error

In [21]:
empData.Esalary.median()

300000.0

In [22]:
# mode can not be calculated in numpy 
# we need to use scipy

In [23]:
# But Pandas having scipy by default

In [24]:
empData.Esalary.mode()

0    100000
1    200000
2    300000
3    400000
4    500000
dtype: int64

In [25]:
# empData.Esalary.percentile(50)

In [26]:
# Statical analysis, Numerical analysis and Data analysis
# can bedone using single package is pandas

In [27]:
# pandas is having scipy experimental package
# but still we can install scipy package also

In [28]:
import scipy as sp

In [29]:
# but scipy will be taught more when we use statistical testing

In [30]:
#then Measures of dispersion
# Variance and SD

In [31]:
empData.Esalary.var()

25000000000.0

In [32]:
empData.Esalary.std()

158113.88300841895

In [33]:
# Standard deviation is very huge, can be seen in graph also
# Pandas also supports plots but later can be seen

In [34]:
# the above series of column numerical analysis can be seen in single shot
empData.describe()

            Eid        Esalary
count  5.000000       5.000000
mean   3.000000  300000.000000
std    1.581139  158113.883008
min    1.000000  100000.000000
25%    2.000000  200000.000000
50%    3.000000  300000.000000
75%    4.000000  400000.000000
max    5.000000  500000.000000

In [35]:
# if you see the mean and #50%le values
# mean = 300000 and 50% is 300000 both are same so, its following normal distribution

In [36]:
# there is no outlier exist in the data

In [37]:
# Before analysing the data, you need to convert Dataframe into numpy array
# why we need to do this?
# Ans: many situations may arise, and few are here
#

Situation-1:

In [38]:
# If you are writting a code to create a statistical model in python
# basically its inferential statisticalmodel
# will use a package called scikit learn (ML) and Tensorflow (DL)
# All the packages expects your data should be in the form of Numpy array
# after completion of EDA, before taking to the model.. it should be in Numpy array

Situation-2:

In [39]:
# if you want to perform statistical testing
# (Hypothesis testing, AB Testing), chi-squre test...
# then formula expects your data in the form of Numpy
# this is the prospective of requirement of form of Numpy array data

In [73]:
# save header names to a variable as headers will be lost while converting 
# Dataframe to Numpy array
empDataHeaders = empData.columns
# now the data code is 

empData.values

array([[1, 'Aravind', 500000],
       [2, 'Sharada', 400000],
       [3, 'Rachael', 300000],
       [4, 'Dave', 200000],
       [5, 'Rhema', 100000]], dtype=object)

In [74]:
# now the above data is in the form of array

In [75]:
# now store it in Numpy array name
empDataNumpyArray = empData.values

In [76]:
empDataNumpyArray

array([[1, 'Aravind', 500000],
       [2, 'Sharada', 400000],
       [3, 'Rachael', 300000],
       [4, 'Dave', 200000],
       [5, 'Rhema', 100000]], dtype=object)

In [77]:
# One thing need to observe here is 
# we loose header data...

In [78]:
# How to convert Numpy array into dataframe
empData2 = pd.DataFrame(empDataNumpyArray, columns = empDataHeaders)

In [79]:
empData2

  Eid    Ename Esalary
0   1  Aravind  500000
1   2  Sharada  400000
2   3  Rachael  300000
3   4     Dave  200000
4   5    Rhema  100000

In [80]:
# what is the adv of .values over empData values
# Because .values (Numpy array) offered by Pandas for further analysis
# otherwise both are same

In [87]:
empData.describe()

            Eid        Esalary
count  5.000000       5.000000
mean   3.000000  300000.000000
std    1.581139  158113.883008
min    1.000000  100000.000000
25%    2.000000  200000.000000
50%    3.000000  300000.000000
75%    4.000000  400000.000000
max    5.000000  500000.000000

In [89]:
# Is above data valid or invalid interms of the above values are 
# calculated only for numericals?
# Answer is subjective , because according to statistics , 
# which is deals with numericals only.
# according to data science , all types of data to be 
# considered for analysis.
# so Pandas package is developed very smartly to cover 
# all the types of data.
# But Pandas has given default option to only for numericals.

In [91]:
empData.describe(include="all")

             Eid    Ename        Esalary
count   5.000000        5       5.000000
unique       NaN        5            NaN
top          NaN  Sharada            NaN
freq         NaN        1            NaN
mean    3.000000      NaN  300000.000000
std     1.581139      NaN  158113.883008
min     1.000000      NaN  100000.000000
25%     2.000000      NaN  200000.000000
50%     3.000000      NaN  300000.000000
75%     4.000000      NaN  400000.000000
max     5.000000      NaN  500000.000000

In [92]:
# being a Data Scientist , 
# its your responsibility to interpret the above data
#